
@{
    ViewBag.Title = "Index";
}

<table width="100%" cellpadding="2" cellspacing="2" border="0">
    <tr>
        <td colspan="3">
            <b style="font-size:20px">Admin's Corner</b>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            This is your Control Panel for your Blog
        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td width="5%">
            <img src="~/Images/blog-post-icon.jpg" alt="BlogPosts" />
        </td>
        <td>

            <a href="@Url.Action("BlogPosts","Home")" class="link1" style="font-size:14px">My Blog Posts</a>
            <br />
            Add, review and edit your Blog Posts
        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td width="5%">
            <img src="~/Images/comment.jpg" alt="MyReminders" />
        </td>
        <td>
            <a href="@Url.Action("Comments","Home")" class="link1" style="font-size:14px">The Comments on your Posts</a>
            <br />
            add, view & Edit the Comments on your Posts
        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td width="5%">
            <img src="~/Images/facebook.jpg" alt="Facebook" />
        </td>
        <td>
            <a href="#" class="link1" style="font-size:14px">Connect to Facebook</a>
            <br />
            Link Your account to Facebook!
        </td>
    </tr>
</table>